html {
  scroll-behavior: smooth;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  animation: pulseCol 15s infinite;
}
/* --------DROPDOWN RELATED--------- */
.dropdown {
  display: flex;
  list-style: none;
  margin: 0;
  /* padding: 0; */
  /* overflow: hidden; */
  /* position: fixed; */
} 
.icons {
  margin-left: 87vw;
  transition: all 0.8s;
}
.icons img {
  max-width: 4vw;
  min-width: 50px;
  width: 100%;
  height: auto;
}
.icon:hover {
  transform: scale(1.2);
}
.dropbtn {
  font-size: 4em;
  /* margin-left: 90vw;  */
}
div a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px 20px;
  margin: 1px;
  /* background-color: black; */
  text-decoration: none;
  transition: all 0.8s;
}
.dropbtn:hover {
  color: rgb(99, 99, 99);
  transform: scale(1.03);
}
.dropbtn:active {
  color: black;
  /* background-color: white; */
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.4em;
  background: rgba(0,0,0,0.1);
  margin-top: 10vh; 
  /* border-radius: 2px; */
}

.dropdown-content a {
  /* color: rgb(0, 0, 0); */
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(0, 0, 0);
  /* transform: scale(2); */
}

.show {
  display: block;
}
/* ----------RESPONSIVE NAVBAR & ICONS----------- */
@media only screen and (max-width: 1100px){
  .icons {
    margin-left: 85vw;
  }
}
@media only screen and (max-width: 950px){
  .icons {
    margin-left: 80vw;
  }
}
@media only screen and (max-width: 750px){
  .icons {
    margin-left: 77vw;
  }
}
@media only screen and (max-width: 450px){
  .icons {
    margin-left: 57vw;
  }
}

/* -------COVER PHOTO------ */
.container {
  /* display: block; */
  /* width: relative; */
  height: 100vh;
  /* background-image: url(splash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
  animation: pulseCol 15s infinite;
}
@keyframes pulseCol {
  0%, 100% {
    background-color: #EA651D;
  }
  33% {
    background-color: #EAD71D;
  }
  66% {
    background-color: #15A754;
  }
}
.container .logo {
  /* font-size: 10em; */
  /* font-family: 'Mansalva', cursive; */
  /* text-align: center; */
  position: relative;
  top: 30vh;
  padding: 0px 10vw;
}
.container .header {
  font-size: 6em;
}
.container .subHead {
  font-size: 2em;
}
@media only screen and (max-width: 450px){
  .container .header {
    font-size: 3em;
  }
  .container .subHead {
    font-size: 1em;
  }
}
/* ----------MAIN BODY ----------*/
.bodyContainer {
  font-size: 1.2em;
  color: white;
}
.about {
  padding: 20px 8vw 60px 8vw;
  background-color: rgba(0,0,0,1);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
}
.home_link {
  padding: 0;
  margin-left: 85vw;
}
.split {
  text-align: right;
  color: black;
  padding: 20vh 5vw;
  font-size: 3em;
}
/* .arrowstuff {
  transition: all 0.8s;
}
.arrow {
  transition: all 0.8s;
} */
.arrow img {
  /* max-width: 4vw; */
  min-width: 50px;
  width: 100%;
  height: auto;
}
/* .arrow:hover {
  transform: scale(2);
} */
@media only screen and (max-width: 700px){
  .home_link {
    margin-left: 80vw;
  }
}
@media only screen and (max-width: 450px){
  .bodyContainer {
    font-size: .7em;
  }
  .home_link {
    margin-left: 75vw;
  }
}
.contact {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
}

#mc_embed_signup input.button {
  background-color: rgb(0, 0, 0, 0.2);
}
#mc_embed_signup input.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#mc_embed_signup div.mc-field-group input {
  background-color: rgb(0, 0, 0);
}
   
/* ----------FOOTER---------- */
.footer {
  font-size: 3em;
  padding: 20vh 20vw;
}