body {
    padding: 51px 0px 0px 0px;
    margin: auto 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}
/* NAV BAR */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 1px 1px rgb(75, 75, 75);
    
}

.mainNav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
li, ul img {
    padding: 10px 20px 5px 20px;
    align-self: center;
    transition-duration: 0.4s;
}
li:hover {
    background-color: lightskyblue;
    border-radius: 5px;
    /* padding: 5px 8px 5px 8px; */
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.push {
    margin-left: auto;
    margin-right: 50px;
    background-color: rgb(121, 182, 179);
    padding: 5px 8px 5px 8px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.push:hover {
    background-color: rgb(214, 248, 246);
    padding: 5px 8px 5px 8px;
}
#push-a {
    padding-left: 1vw;
    width: 7em;
}
/* RESPONSIVENESS */
@media only screen and (max-width:450px) {
    .mainNav {
        font-size: 0.8em;
        padding: 0;
    }
    li{
        padding: 10px 5px 5px 5px;
        align-self: center;
    }
    .push {
        margin-right: 5px;
    }
    #push-a {
        padding: 1px 1px;
    }
    nav img{
        width: 3rem;
    }
}
/* COVER */

.container {
    display: flex;
    background-image: url("./img/salon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    /* width: 100%; */
}
@media only screen and (max-width: 450px) {
.container {
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    height: 35vh;
    width: 100%
}
}
/* CONTENT  */

.content {
    display: grid;
    gap: 3vh 10vh;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.1em;
    margin: 0vh 3vh;
}
.box {
    padding: 0px 0px 20px 0px;
    margin: 10px 0vw;
}
.box p {
    padding: 0px 10px 0px 10px;
}
.box1 {
    grid-column: span 3;
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    font-size: 2em;
    font-family: 'Sacramento', cursive;
    padding: 15px 0px 15px 0px;
    margin: 0;
}
.box2,
.box5,
.box6 {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}
.box2 img,
.box5 img,
.box6 img {
    max-width: 100%;
    height: auto;
    border-radius: inherit;
}
.box2 a,
.box5 a,
.box6 a {
    background-color: rgb(121, 182, 179);
    padding: 5px 8px 5px 8px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.box2 a:hover,
.box5 a:hover,
.box6 a:hover {
    background-color: rgb(214, 248, 246);
    padding: 5px 8px 5px 8px;
}
.box4 {
    grid-column: span 3;
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding: 20px 10vw 20px 10vw;
    font-size: 1.3em;
}
@media only screen and (max-width: 1050px){
    .content {
        display: grid;
        grid-gap: 3vh 6vh;
        background-color: rgb(255, 255, 255);
        grid-template-columns: 1fr 1fr;
        font-size: 1.3em;
        margin: 3vh;
    }
    .box4,
    .box1 {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 450px){
    .box {
        grid-column: span 3;
    }
    .box1 {
        font-size: 1.3em;
    }
    .box2,
    .box5,
    .box6 {
        justify-self: center;
        max-width: 90vw;
    }
    .box4 {
        padding: 10px 0px 10px 0px;
    }
}
/* FOOTER  */
footer {
    display: grid;
    grid-template-columns:  .5fr 1fr 1fr 1fr;
    background-color: rgb(121, 182, 179);
    border-top-style: solid;
    border-width: 1px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}
/* .social {
    grid-template-columns: 1fr;
} */
.social img {
    max-width: 30%;
}
.add {
    text-align: left;
    justify-self: center;
    padding: 0px 20px 15px 20px;
}
#push-b {
    justify-self: center;
    width: 15em;
}
.hours {
    text-align: left;
    justify-self: center;
    padding: 0px 20px 15px 20px;
}
#priv {
    grid-column: span 4;
    justify-self: center;
    margin-top: auto;
}
@media only screen and (max-width: 450px){
    .boxf {
        text-align: center;
        grid-column: span 4;
    }
    #push-b {
        margin: auto;
        width: 15em;
    }
}